<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "UploaderR", suffix: " · Receptor") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body>
    <div class="flex flex-row">
      <aside class="w-64 sticky top-0 border-r" aria-label="Sidebar">
        <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800 sticky top-0 h-screen">
          <ul class="space-y-2">
            <li>
              <a
                href="/"
                class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
              >
                <svg
                  style="width:24px;height:24px"
                  viewBox="0 0 24 24"
                  class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                >
                  <path
                    fill="currentColor"
                    d="M19.35,10.03C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.03C2.34,8.36 0,10.9 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.03Z"
                  />
                </svg>
                <span class="flex-1 ml-3 whitespace-nowrap">Config. do Uploader R</span>
              </a>
            </li>
            <li>
              <a
                href="/repository"
                class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
              >
                <svg
                  class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                  style="width:24px;height:24px"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M17,3A2,2 0 0,1 19,5V15A2,2 0 0,1 17,17H13V19H14A1,1 0 0,1 15,20H22V22H15A1,1 0 0,1 14,23H10A1,1 0 0,1 9,22H2V20H9A1,1 0 0,1 10,19H11V17H7C5.89,17 5,16.1 5,15V5A2,2 0 0,1 7,3H17M12,5.5L7.5,10H11V14H13V10H16.5L12,5.5Z"
                  />
                </svg>
                <span class="flex-1 ml-3 whitespace-nowrap">Config. do Repositório</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <main role="main" class="w-full pt-1 px-2 py-4">
        <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
          <div class="container flex flex-wrap justify-center items-center mx-auto">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">
              <%= @page_title %>
            </span>
          </div>
        </nav>
        <!-- content area -->
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
